﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AddToCart.aspx.cs" Inherits="GSNENY.AddToCart" %>

<script>
    //jQuery(document).ready(function (jQuery) {
    //    AddToCart();
    //});

    //var UpdateMemberType = function () {
    //    var dataToSend = JSON.stringify({
    //        'girlID': getParameterByName('ID')
    //    });
    //    jQuery.ajax({
    //        type: "POST",
    //        url: "https://gsnenytest.imiscloud.com/GSNENY/Membership/Bridge/Bridge.aspx/AddToCart",
    //        contentType: "application/json;",
    //        data: dataToSend,
    //        success: function (response) {
    //            console.log(response);
    //            //console.log("http://gsnenytest.imiscloud.com/GSNENY/Contacts/ContactLayouts/AccountPage.aspx?ID=" + localStorage.getItem('LoggedInUser') + "&WebsiteKey=" + getParameterByName('WebsiteKey'));
    //           // window.location.href = "http://gsnenytest.imiscloud.com/GSNENY/Contacts/ContactLayouts/AccountPage.aspx?ID=" + localStorage.getItem('LoggedInUser');
    //        },
    //        error: function (jqXHR, textStatus, errorThrown) {
    //            var obj = JSON.parse(jqXHR.responseText);
    //            console.log(obj.Message);
    //            console.log(jqXHR.statusText);
    //        }
    //    });
    //}

    //var getParameterByName = function (name) {
    //    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    //    var regex = new RegExp("[\\?&amp;]" + name + "=([^&amp;#]*)"),
    //    results = regex.exec(location.search);
    //    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    //}
</script>
